@media screen and(max-width:992px) {

  header#header {

    .container {
      padding: 20px;
    }
  }

  #logIn {
    padding: 20px;

    .container {
      flex-direction: column;

      .sx {
        width: 90%;
        text-align: center;

        .sign-up {
          width:50%;
          margin: auto;
        }
      }

      .dx {
        width: 90%;
        text-align: center;
      }
    }
  }
}
